[submodule "output"]
	path = output
	url = https://github.com/fajoy/fajoy.github.io.git
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/fajoy/pelican-themes
[submodule "content"]
	path = content
	url = https://github.com/fajoy/note
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/fajoy/pelican-plugins.git
[submodule "win_fonts"]
	path = win_fonts
	url = https://github.com/fajoy/win_fonts
[submodule "git-tools"]
	path = git-tools
	url = https://github.com/fajoy/git-tools
